#free_profitquery p {font-family: Arial, sans-serif; font-size: 16px; color: #A2A2A2; margin: 0; font-style: normal!important; font-weight: normal;   text-align: center;}
#free_profitquery a {text-decoration: none!important; cursor: pointer; box-shadow: none; font-weight: normal; text-align: center;}
#free_profitquery form {background: transparent;}
#free_profitquery.pq-container-fluid {text-align: center; max-width: 840px; margin: 0px auto; font-family: Arial, sans-serif;}
#free_profitquery h4 {font-family: pt sans narrow; font-size: 46px!important; color: #3F3F3F!important; padding-bottom: 3px; font-weight: normal; margin: 0; line-height: 1; background: transparent; text-align: center;}
#free_profitquery h5 {font-family: pt sans narrow; font-size: 30px; color: #5F5F5F; margin: 17px 0; padding: 0 20px; font-weight: normal;line-height: 1; background: transparent; text-align: center;}
#free_profitquery .pq_more h5 {font-size: 24px;}
#free_profitquery .pq-panel-heading {position: relative;}
.pq_tooltip, .x30 .pq_tooltip {background: url(../images/tooltip.png); width: 17px!important; height: 17px!important; position: absolute!important; left: 210px; bottom: 11px;}
#free_profitquery .pq-panel-heading:hover .pq_settings {background: url(../images/settings_hover.png);}
#free_profitquery #accordion .pq-panel-heading:hover h4 {text-decoration: none!important;}
#free_profitquery .pq-panel-heading {box-shadow: 0 2px 1px grey;}
#free_profitquery h3 {font-family: pt sans narrow; font-size: 18px;}
#free_profitquery .btn_big_red {background: red;  color: white;  font-family: pt sans narrow;  font-size: 25px; border-radius: 3px; padding: 8px 57px; display: block;  margin: 0 auto; width: inherit!important;}
#free_profitquery .btn_big_red:hover {background: rgb(203, 3, 3);  color: white;}
#free_profitquery .btn_m_red {background: rgb(65, 65, 65);  color: white;  font-family: pt sans narrow;  font-size: 19px; border-radius: 3px; padding: 5px 45px 8px; display: block;  margin: 0 auto; width: initial!important; border: none; line-height: initial;}
#free_profitquery .btn_m_red:hover {background: rgb(35, 35, 35);  color: white; cursor: pointer;}
#free_profitquery .btn_m_white {width: initial; margin: 20px auto 8px; background: transparent; color: red;  border: 1px solid red; font-family: pt sans narrow; font-size: 19px; padding: 5px 45px 8px; border-radius: 3px;}
#free_profitquery .btn_m_white:hover {background: red; color: white; cursor: pointer;}
#free_profitquery .pq-btn-link {color: #2a6496; font-style: normal!important;}
#free_profitquery .btn-m {font-size: 15px; color: #F4335C; border: 1px solid red; padding: 4px 20px 7px; border-radius: 3px; margin-top: 15px;}
#free_profitquery img {max-width: 100%;}
#free_profitquery .pq-panel-body>.pq-sm-6 {margin-top: 25px; margin-bottom: 0px;}
#free_profitquery input, #free_profitquery select {color: #B1B1B1; font-size: 16px; border-radius: 2px; border: 1px solid rgb(176, 176, 176); line-height: 28px; box-sizing: border-box;}
#free_profitquery .pq-sm-6>select  {width: 100%; box-sizing: border-box; padding: 4px; display: block; border: 1px solid rgb(176, 176, 176);}
#free_profitquery .pq-sm-6>input{width: 90%; box-sizing: border-box;padding: 4px;height: 31px;}
#free_profitquery .pq-sm-6>img{display: block; margin: 0 auto;}
#free_profitquery .pq-sm-12>select{  width: 88%; box-sizing: border-box; padding: 4px; margin: 10px 0; border: 1px solid rgb(176, 176, 176);}
#free_profitquery .pq-sm-12.x30 input[type="text"]{width: 72%; box-sizing: border-box;padding: 4px; height: 31px;}
#free_profitquery .pq-sm-9 {width: 74%; display: inline-block;}
#free_profitquery .pq-btn-link {background: none; cursor: pointer;}
#free_profitquery .pq-btn-link:hover {cursor: pointer;}
#free_profitquery .pq-sm-6 .pq-btn-link {font-size: 16px; color: #F4335C; border: none;}
#free_profitquery .pq-sm-12 .pq-btn-link, .pq-sm-12+.pq-btn-link, #collapseservices+.pq-btn-link {font-size: 16px; color: red; border: none;}
#free_profitquery .pq-xs-4 {padding-top: 13px; margin-bottom: 15px; display: inline-block; width: 32%; vertical-align: top;}
#free_profitquery .pq-xs-4:hover {background: white;}
#free_profitquery .pq-sm-3 {width: 25%; display: inline-block;}
#free_profitquery .pq_close {width: 17px; height: 17px; position: absolute!important; top: 0; right: 0; background: url(../images/close.png); opacity: 0.6;}
#free_profitquery .pq_close:hover {opacity: 1;}

#free_profitquery .pq-panel-body {padding: 0 15px 5px;}
#free_profitquery .pq-sm-6.icons {margin: 0; min-width: inherit;}

#free_profitquery .pq-sm-10 select, .pq-sm-10 input[type="text"] {width: 100%; height: inherit; margin: 0;}
#free_profitquery select {box-sizing: border-box; padding: 4px; display: block; border: 1px solid rgb(176, 176, 176); font-weight: normal; line-height: 28px;}
#free_profitquery input {padding: 3px 10px; line-height: 22px; box-sizing: border-box;}
#free_profitquery .pq-sm-10, #free_profitquery .pq-md-10, #free_profitquery .pq-lg-10 {float: none; display: inline-block;}
#free_profitquery  input[type="checkbox"] {margin: 0;}
#free_profitquery  .pq_box input[type="checkbox"] {margin: 4px 0 0;}
#free_profitquery .pq_more {margin:10px auto; min-height: 100px; background: #F3F3F3;  padding: 20px 20px 37px; position: relative;}
#free_profitquery .pq_more .pq_close {width: 17px; height: 17px; position: absolute!important; top: 15px; right: 15px; background: url(../images/close_more.png); opacity: 0.6;}
#free_profitquery .pq_box {overflow: hidden; border-top: 1px solid lightgrey; border-bottom: 1px solid lightgrey; padding: 5px 0; width: 100%;}
#free_profitquery .pq_box p {display: inline-block; float: left; margin: 0; line-height: 28px;}
#free_profitquery .pq_box>div {display: inline-block; float: right; width: initial; height: initial;}
#free_profitquery .x30 label {width: 15%; display: inline-block!important;}
#free_profitquery .x30 label div {display: inline-block;}
#free_profitquery .x30 label input {margin: 9px 4px; vertical-align: top;}
#free_profitquery .pq-sm-12.x30 label {width: initial;}
#free_profitquery .pq-sm-12.x30 label input {display: block; margin: 4px auto;}
#free_profitquery .pq-sm-12.x30 div {display: inline-block; vertical-align: middle;}
#free_profitquery .clear {clear:both;}
#free_profitquery label p {text-align: left; /*width: 100%; */margin: 0 auto; font-weight: normal;}
#free_profitquery .in div {position: relative; overflow: hidden; text-align: center;}
#free_profitquery .pq-sm-6, #free_profitquery .pq-md-6  {width: 48%; display: inline-block; box-sizing: border-box; vertical-align: top; float: left; min-width: 320px;}
#free_profitquery .pq-sm-6:nth-child(odd), #free_profitquery .pq-sm-6#odd {float: right;}
#free_profitquery .pq-sm-10, #free_profitquery .pq-md-10 {width: 83.333333%;}
#free_profitquery .pq-sm-6>.pq-sm-10 label {display: block; text-align: center;}
#free_profitquery .pq_more label, .pq-sm-6 label {display:block;}
#free_profitquery label {font-weight: normal; overflow: hidden; margin-bottom: 10px;}
#free_profitquery .pq-items {padding:0; margin-top: 40px;}
#free_profitquery .pq-items div>div{padding: 0 0 10px; display: inline-block; border: 1px solid lightgrey; margin-bottom:10px; background: white;}
#free_profitquery .pq-items div>div:hover{border: 1px solid pink; cursor: pointer;}
#free_profitquery .pq-items div>div:hover .btn_m_red{color: white; background: red; cursor: pointer;}
#free_profitquery .pq-items h5 {font-size: 26px; color: #939393; margin:0;}
#free_profitquery .pq-items input[type="button"] {width: initial; margin: 20px auto 8px; text-transform: uppercase; background: transparent; color: grey;  border: 1px solid red; font-size: 14px; font-family: arial; padding: 3px 26px;}
/*#free_profitquery .pq_pro {width: 46px; height: 46px; position: absolute; top: 0; right: 0; background: url(../images/pro.png);}*/
#free_profitquery .pq_services .pq_fb, #free_profitquery .pq_services .pq_tw, #free_profitquery .pq_services .pq_gp, #free_profitquery .pq_services .pq_pi, #free_profitquery .pq_services .pq_vk, #free_profitquery .pq_services .pq_od {display: inline-block; float: left;}
#free_profitquery .pq_services input[type="text"] {width: 65%; float: right; display: inline-block;}
#free_profitquery .pq_services p {display: inline-block; line-height: 30px; float: left; padding-left: 10px;}
/*.collapse {display: none; visibility: hidden;}
.collapse.in {display: block; visibility: visible;}*/
#free_profitquery a.pq_help {font-size: 14px; color: black; cursor: pointer; margin-top: 12px; display: block;}
#free_profitquery .pq_block {margin-top: 20px; padding: 40px 0; border: 1px solid rgb(231, 231, 231); box-shadow: 0 2px 0px #989898;}
#free_profitquery .pq_block#v1 {background: #ffffff;}
#free_profitquery .pq_block#v2 {background: #e1e1e1;}
#free_profitquery .pq_block#v3 {background: #ffffff;}
#free_profitquery .pq_block#v4 {background: #e1e1e1;}
#free_profitquery .pq-switch-bg {width: 120px; min-height: 40px; text-align: center; display: inline-block; border-radius: 4px;}
#free_profitquery .pq-switch-bg input {margin: 4px 0 0px!important;}
#free_profitquery .pq-on {background: rgb(133, 235, 109);}
#free_profitquery .pq-switch-bg p {padding: 0; margin: 0; text-transform: uppercase; font-family: arial; color: white; font-size: 12px; text-align: center;}
#free_profitquery .pq-off {background: rgb(239, 90, 90);}
@media screen and (max-width: 782px) {
#free_profitquery .pq-sm-6, #free_profitquery .pq-md-6 {padding: 0!important; display: block; margin: 0 auto; width: 83.333333%; float:none!important;}
#free_profitquery  .pq-sm-6.icons {width: 100%;}
#free_profitquery  .pq-sm-6.icons label:first-child {margin: 10px 0;}
#free_profitquery #pq_input input[type="text"] {display: block; width: 100%;}
#free_profitquery #pq_input .pq-sm-10, #free_profitquery .pq_more .pq-md-10 {display: block; margin: 0 auto;}
#free_profitquery input[type="checkbox"], #free_profitquery .pq_box input[type="checkbox"] {margin: 0;}
#free_profitquery .pq-sm-3 {width: 100%;}
#free_profitquery .pq-sm-9 label {width: 100%!important;}
#free_profitquery .pq-sm-6.icons.down {margin-top: 0px!important;}
#free_profitquery .pq-items div>div {margin-bottom: 20px;}}
@media screen and (max-width: 480px) {
#free_profitquery .pq_tooltip {display: none!important;}}